@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
   /*transition: all 0.3s ease;*/
   font-family: 'Poppins',sans-serif;
}

:root{

   --bg: #f5f5f5;
   --nav-main: #FFF;
   --primary-col: #7561F6;
   --secondary-col: #5E48F0;

   --black-active: #212121;
   --black-light: #757575;

   --search-box:#eef2f8;

   --a:#8F95E6;
   --b:#6770E6;
   --c:#333399;
   --d:#5861C7;
   --e:#4E56B0;
   --f:#9FA5FF;

  
}

html{
   font-size: 62.5%;
  /* 1 rem = 10px;*/
}
a{
   text-decoration: none;
}
li{
   list-style: none;
}

body{
   background-color: var(--bg);
}

header{
   position: fixed;
   height: 7rem;
  /* height: 6.4rem;*/
   width: 100vw;
   background: var(--nav-main);
   /*box-shadow: 0 5px 10px rgba(0,0,0,0.1);*/
   box-shadow: 0 -1px 12px hsla(174, 63%, 15%, 0.15);
}
nav.navigation-bar{
   display: flex;
   align-items: center;
   height: 100%;
   max-width: 130rem;
   margin: auto;
   padding: 0 3rem;
   justify-content: space-between;

}
nav.navigation-bar .logo a{
   font-size: 3rem;
   color: #212121;
   font-weight: 500;
}
nav.navigation-bar .desktop-list{
   /*display: flex;*/
   display: none;
}
nav.navigation-bar .desktop-list li{
   margin: 0 0.8rem;
   list-style: none;
   display: flex;
}
nav.navigation-bar .desktop-list a{
    font-size: 1.7rem;
    font-weight: 400;
    color: #757575;
    opacity: 1;

}

nav.navigation-bar .appearance{
   display: flex;
   align-items: center;

}
.appearance .favorite,
.appearance .cart-notification,
.appearance .account-vactor{
  height: 4.5rem;
  width: 4.5rem;
  /*border-radius: 0.6rem;*/
  border-radius: 50%;
  line-height: 5rem;
  text-align: center;
  color: var(--white);
  font-size: 2.4rem;
  background: var( --search-box);
  cursor: pointer;
  margin-left: 1.4rem;
}
.cart-notification .notifi-badge{
   position: relative;
}
.cart-notification .notifi-badge[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:7px;
   right:-6px;
   font-size: 1.5rem;
   background:green;
   color:white;
   width:1.7rem;
   height:1.7rem;
   text-align:center;
   line-height:1.7rem;
   border-radius:50%;
   box-shadow:0 0 1px #333;

}

.appearance .account-vactor img{
   width: 100%;
   height: auto;
}




.mobile-list{
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100vw;
   height: 6.4rem;
   background-color: #FFF;
   box-shadow: 0 -1px 12px hsla(174, 63%, 15%, 0.15);
   display: flex;
   overflow-x: auto;
   border-radius: 2rem 2rem 0 0;
}

.nav-items{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   flex-grow: 1;
   min-width: 5rem;
   overflow: hidden;
   white-space: nowrap;
   text-decoration: none;
   color: var( --black-active);
   
}
.mobile-icon{
   font-size: 2.4rem;
}
.link-name{
   font-size: 1rem;
}


.display{
   display: none;
}