@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
   /*transition: all 0.3s ease;*/
   font-family: 'Poppins',sans-serif;
}

:root{

   --bg: #f5f5f5;
   --nav-main: #FFF;
   --primary-col: #7561F6;
   --secondary-col: #5E48F0;

   --black-active: #212121;
   --black-light: #757575;

   --search-box:#eef2f8;

  
}

html{
   font-size: 62.5%;
  /* 1 rem = 10px;*/
}
a{
   text-decoration: none;
}
li{
   list-style: none;
}

body{
   background-color: var(--bg);
}

header{
   position: fixed;
   height: 6.4rem;
   width: 100vw;
   background: var(--nav-main);
   /*box-shadow: 0 5px 10px rgba(0,0,0,0.1);*/
   box-shadow: 0 -1px 12px hsla(174, 63%, 15%, 0.15);
}
nav.navigation-bar{
   display: flex;
   align-items: center;
   height: 100%;
   max-width: 130rem;
   margin: auto;
   padding: 0 3rem;
   justify-content: space-between;

}
nav.navigation-bar .logo img{
   height: 5rem;
}


.mobile-list{
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100vw;
   height: 6.4rem;
   background-color: #FFF;
   box-shadow: 0 -1px 12px hsla(174, 63%, 15%, 0.15);
   display: flex;
   overflow-x: auto;
   border-radius: 2rem 2rem 0 0;
}

.nav-items{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   flex-grow: 1;
   min-width: 5rem;
   overflow: hidden;
   white-space: nowrap;
   text-decoration: none;
   color: var( --black-active);
   
}
.mobile-icon{
   font-size: 2.4rem;
}
.link-name{
   font-size: 1rem;
}